node_modules
.next
.git
.gitignore
README.md
.env
.env.*
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
.idea
*.swp
*.swo
*~
.cache
dist
coverage
.nyc_output
.grunt
.lock-wscript
build/Release
jspm_packages
typings
.npm
.eslintcache
.node_repl_history
.yarn-integrity